* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main_menu {
	background-color: #FF6900;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.main_nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

.image_position {
    position: relative;
}

.image_card .image_second {
    display: none;
}

.image_card:hover .image_second {
    display: block;
}
.image_card:hover .image_first {
    display: none;
}

.sconto {
    position: absolute;
    bottom: 20px;
    background-color: red;
    padding: 3px 7px;
}

.sostenibilità {
    position: absolute;
    left: 60px;
    bottom: 20px;
    background-color: green;
    color: white;
    padding: 3px 7px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px;
} 

.sostenibilità_no_margin  {
    position: absolute;
    bottom: 20px;
    background-color: green;
    color: white;
    padding: 3px 7px;
}

.image_size {
    width: 300px;
}

.price {
    color: red;
}

.old_price {
    color: grey;
    text-decoration:line-through;
}

.section_margin {
    margin: 20px 20px;
}

.heart:hover {
    color: red;
}

h2 {
    font-size: 17px;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: flex-start;
}

.background_footer {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 20px 0px;
}

.footer_flex {
    display: flex;
    gap: 15px;
}

.bottom_footer {
    margin-bottom: 15px;
}
