* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.image_position {
    position: relative;
}

.sconto {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: red;
    padding: 3px 7px;
}

.sostenibilità {
    position: absolute;
    left: 70px;
    bottom: 20px;
    background-color: green;
    color: white;
    padding: 3px 7px;
}

.image_size {
    width: 300px;
}

.price {
    color: red;
}

.old_price {
    color: grey;
    text-decoration:line-through;
}